<a href="https://colab.research.google.com/github/YangGeYangGe/Machine-Learning-Experiment/blob/master/ema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
file = "Feb.txt"
# F = open(file,'r') 
import pandas as pd
# data = pd.read_csv(file, sep=" ", header=None)
# data.columns = ["a", "b", "c", "etc."]
data = pd.read_csv(file)

In [5]:
data.tail()

      <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
28205   AUDJPY      20190228  235500   79.06   79.06  79.06    79.06      4
28206   AUDJPY      20190228  235600   79.05   79.05  79.05    79.05      4
28207   AUDJPY      20190228  235700   79.06   79.06  79.06    79.06      4
28208   AUDJPY      20190228  235800   79.07   79.07  79.07    79.07      4
28209   AUDJPY      20190228  235900   79.06   79.06  79.06    79.06      4

In [6]:
type(data)

pandas.core.frame.DataFrame

In [11]:
new_pd = data.groupby("<DTYYYYMMDD>").last()
new_pd

             <TICKER>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
<DTYYYYMMDD>
20190201       AUDJPY  205100   79.41   79.41  79.41    79.41      4
20190203       AUDJPY  235900   79.34   79.34  79.34    79.34      4
20190204       AUDJPY  235900   79.33   79.33  79.33    79.33      4
20190205       AUDJPY  235900   79.53   79.53  79.53    79.53      4
20190206       AUDJPY  235900   78.10   78.10  78.10    78.10      4
20190207       AUDJPY  235900   77.89   77.89  77.89    77.89      4
20190208       AUDJPY  205100   77.81   77.81  77.81    77.81      4
20190210       AUDJPY  235900   77.85   77.85  77.85    77.85      4
20190211       AUDJPY  235900   77.90   77.90  77.90    77.90      4
20190212       AUDJPY  235900   78.32   78.32  78.32    78.32      4
20190213       AUDJPY  235900   78.68   78.68  78.68    78.68      4
20190214       AUDJPY  235900   78.47   78.47  78.47    78.47      4
20190215       AUDJPY  205100   78.86   78.86  78.86    78.86      4
20190217       AUDJPY  235900   78.97   78.97  78.97    78.97      4
20190218       AUDJPY  235900   78.84   78.84  78.84    78.84      4
20190219       AUDJPY  235900   79.23   79.23  79.23    79.23      4
20190220       AUDJPY  235900   79.38   79.38  79.38    79.38      4
20190221       AUDJPY  235900   78.67   78.67  78.67    78.67      4
20190222       AUDJPY  210000   78.89   78.89  78.89    78.89      4
20190224       AUDJPY  235900   79.26   79.26  79.26    79.26      4
20190225       AUDJPY  235900   79.61   79.61  79.61    79.61      4
20190226       AUDJPY  235900   79.49   79.49  79.49    79.49      4
20190227       AUDJPY  235900   79.22   79.22  79.22    79.22      4
20190228       AUDJPY  235900   79.06   79.06  79.06    79.06      4

In [52]:
# new_pd["<CLOSE>"].iloc[::3]
# new_pd["<CLOSE>"].iloc[::-5]
new_pd.iloc[::-5]

             <TICKER>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
<DTYYYYMMDD>
20190228       AUDJPY  235900   79.06   79.06  79.06    79.06      4
20190222       AUDJPY  210000   78.89   78.89  78.89    78.89      4
20190217       AUDJPY  235900   78.97   78.97  78.97    78.97      4
20190211       AUDJPY  235900   77.90   77.90  77.90    77.90      4
20190205       AUDJPY  235900   79.53   79.53  79.53    79.53      4

In [66]:
# get_EMA(new_pd.iloc[::-5],10)
data = new_pd.iloc[::-5].iloc[::-1]

ema_list = []
a = 2/(12+1)
for i in range(len(data)):
        if i == 0:
#             data.loc[data.index[i], 'ema'] = data.loc[data.index[i], '<CLOSE>']
            ema_list.append(data["<CLOSE>"].iloc[0])
        if i > 0:
#             (Price [today] x K) + (EMA [yesterday] x (1 – K))
#             data.loc[data.index[i], 'ema'] = (a * data.loc[data.index[i], '<CLOSE>'])+(1-a)*data.loc[data.index[i] - 1, 'ema']
            ema_list.append((a * data["<CLOSE>"].iloc[i] )+(1-a)*ema_list[i-1])

ema_list

[79.53,
 79.27923076923076,
 79.23165680473372,
 79.17909421939007,
 79.1607720317916]

In [0]:
def get_EMA(data,time_periods=12):
    a = 2/(time_periods+1)
#     for i in range(len(data)):
#         if i == 0:
#             data.loc[data.index[i], 'ema'] = data.loc[data.index[i], '<CLOSE>']
#         if i > 0:
# #             (Price [today] x K) + (EMA [yesterday] x (1 – K))
#             data.loc[data.index[i], 'ema'] = (a * data.loc[data.index[i], '<CLOSE>'])+(1-a)*data.loc[data.index[i] - 1, 'ema']
#     ema = list(data['ema'])
    #     return ema
  
    ema_list = []
    for i in range(len(data)):
        if i == 0:
            ema_list.append(data["<CLOSE>"].iloc[0])
        if i > 0:
            ema_list.append((a * data["<CLOSE>"].iloc[i] )+(1-a)*ema_list[i-1]) 
    return ema_list

In [68]:
get_EMA(data)

[79.53,
 79.27923076923076,
 79.23165680473372,
 79.17909421939007,
 79.1607720317916]